#countdown-wrapper {
    margin-top: 4em;
    font-size: 1.25em;
    font-family: _font(family-fixed);
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1.5px;

    @include breakpoint(small) {
        font-size: .85em;
        letter-spacing: 0.5px;
        font-weight: 900;
        font-style: italic;
    }
    @include breakpoint(xsmall) {
        font-size: .8em;
        letter-spacing: 0.5px;
        font-weight: 900;
        font-style: italic;
    }
    @include breakpoint(xxsmall) {
        font-size: .7em;
        letter-spacing: 0.5px;
        font-weight: 900;
        font-style: italic;
	}
  }